<script id="forecast-template" type="text/template">
    <p id="error-handler" style="display:none;">Error when calling the api</p>

    <h4 class="forecast-title">Here is the forecast for your location: <button class="btn-refresh" >Refresh</button></h4>
    <% _.each(weeklyForecast, function(forecast){ %>
    <div class="forecast">
        <h2> <%=forecast.date.weekday %></h2>

        <h3><%=forecast.date.monthname%> <%=forecast.date.day%>, <%=forecast.date.year%></h3>

        <div class="forecast-icon">
            <img src="<%=forecast.icon_url%>">
        </div>
        <div clas="forecast-temperature">
            <span>High : <%=forecast.high.celsius%> Low : <%=forecast.low.celsius%></span>
        </div>

    </div>
    <% }); %>


</script>