<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>To Login or not To login!</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>

    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<h1 class="task-title">Labo 9 : Login! </h1>

<div id="labo9-container">

</div>
<script id="profile-template" type="text/template">
    <div class="profile-container">
        <p id="error-handler" style="display:none;">Error when calling the api</p>

        <h1 class="profile-header">Profile</h1>

        <div class="profile-container">
            <label id="username-label">Username</label>

            <h3 class="username"><%= profile.username %></h3>
            <label class="email-label">Email</label><h4><%= profile.email%></h4>
        </div>
    </div>

</script>
<script id="login-template" type="text/template">
    <div class="profile-container">
        <p class="error-handler" style="display:none;">Error when calling the api</p>

        <h1 class="profile-header">Login</h1>

        <div id="login-container">
            <label class="username-label">Username</label>

            <input type="text" class="username"><%= username %></input>
            <label class="password-label">Password</label><input type="text" class="password"><%= password%></input>
            <button class="btn-login">Login</button>
        </div>
    </div>
</script>


<script src="js/models/profile.js"></script>
<script src="js/collections/profiles.js"></script>
<script src="js/router.js"></script>
<script src="js/views/profile.js"></script>
<script src="app.js"></script>
</body>
</html>